.header{
    color: black;
    text-align: center;
    position: relative;
    height: 50vh;
    display: grid;
    
}

.header h1{
    align-self: end;
}

.back{
    color: white;
    text-align: center;
    position: relative;
    height: 50vh;
    background-color: rgb(10,28,52);
}

.back p{
    margin-top: 50px;
}

.back :hover{
    color: orange;
}