.footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }
  
  .container p {
    text-align: center;
    margin: 0;
  }
  