.info-card{
    background-color: rgb(10,28,52);
    position: absolute;
    top: 100px;
    left: 450px;
    width: 700px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.9);
}
.info-card-image{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqKFcBaqXnEwbu0U8NoWfoqrtC7o4pzAAXTg&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    background-color: black;
}
.info-card-content{
    padding: 20px;
    /* background-color: grey; */
    height: inherit;
    width: max-content;
    color: white;

}

.info-card-content p {
    /* font-weight: bold; */
    margin-top: 20px;
}

.info-card-content h6{
    padding: 5px;
    margin-top: 25px;
}
